<div class="d-flex flex-column flex-lg-row align-items-lg-center justify-content-lg-between gap-2 my-3">
    <div class="d-flex align-items-center gap-2">
        <MudText Class="m-0" Typo="Typo.h1" Color="Color.Primary">@Title</MudText>
    </div>
</div>

@ChildContent

@code {
    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }
}